@import "./base.css";

:root {
    --mdc-theme-primary: #3D5A72;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}
.fade-leave-active {
    position: absolute;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}